* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
      font-family: Arial;
      background-color: darkolivegreen;
      color: white;
      text-align: center;
      padding: 50px;
    }

.add-todo {
  text-align: center;
  padding: 32px 0;
}

.add-todo input,
.add-todo button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
}

.todos-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.todo-item {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: gray;
  padding: 10px 20px;
  border-radius: 8px;
}

.todo-item p {
  margin: 0;
  font-size: 18px;
}

.todo-item.completed p {
  text-decoration:solid;
  color: gray;
}

.todo-item button {
  padding: 5px 10px;
  cursor: pointer;
}
.deleteBtn{
    color: white;
    background-color: red;
}

.markBtn{
    color: white;
    background-color: green;
}

   